# app config
APP_PORT=
QUIZ_API_KEY=
# -----------

# db config
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
# ----------

# gemini
GEMINI_BASE_URL=
GEMINI_API_KEY=
GEMINI_MODEL=
# -----------

CORS_ORIGINS=https://your-liff-domain.com